.post-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    width: 300px;
  }
  
  .post-container:before {
    background-color: #f1f1f1;
    content: "";
    height: 100%;
    left: -5%;
    position: absolute;
    top: -20%;
    transform: rotate(-8deg);
    width: 110%;
    z-index: -1;
  }
  
  .title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .body {
    padding: 40px;
  }
  
  .footer {
    align-items: center;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .footer p {
    margin-right: 10px;
  }
  
  .footer button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
